@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "sharesphere_dark";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(30% 0.045 245);
    --color-base-200: oklch(22% 0.045 245);
    --color-base-300: oklch(0 0 0);
    --color-base-content: oklch(1 0 0);
    --color-primary: oklch(66% 0.15 240);
    --color-primary-content: oklch(1 0 0);
    --color-secondary: oklch(52.5% 0.14 150);
    --color-secondary-content: oklch(1 0 0);
    --color-accent: oklch(77% 0.152 181.912);
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(0% 0 0);
    --color-neutral-content: oklch(1 0 0);
    --color-info: oklch(75.69% 0.1267 254.91);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(72.27% 0.192 149.58);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(52% 0.245 27.325);
    --color-error-content: oklch(1 0 0);
    --radius-selector: 0rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.28125rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@theme {
    --spacing-124: 31rem;
    --spacing-128: 32rem;
    --spacing-160: 40rem;

    --color-primary-hover: oklch(46% 0.15 240);
    --color-secondary-hover: oklch(32.5% 0.14 150);
    --color-error-hover: oklch(32% 0.245 27.325);
}

.button-ghost {
    @apply p-1 2xl:p-2 rounded-xs hover:bg-base-300 active:scale-95 transition duration-250;
}

.button-primary {
    @apply p-1 2xl:p-2 rounded-xs bg-primary hover:bg-primary-hover active:scale-95 transition duration-250;
}

.button-secondary {
    @apply p-1 2xl:p-2 rounded-xs bg-secondary hover:bg-secondary-hover active:scale-95 transition duration-250;
}

.button-error {
    @apply p-1 2xl:p-2 rounded-xs bg-error hover:bg-error-hover active:scale-95 transition duration-250;
}

.button-rounded-ghost {
    @apply p-1 2xl:p-2 rounded-full hover:bg-base-300 active:scale-95 transition duration-250;
}

.button-rounded-primary {
    @apply p-1 2xl:p-2 rounded-full bg-primary hover:bg-primary-hover active:scale-95 transition duration-250;
}

.button-rounded-error {
    @apply p-1 2xl:p-2 rounded-full bg-error hover:bg-error-hover active:scale-95 transition duration-250;
}

.navbar-icon-size {
    @apply h-5 w-5 2xl:h-7 2xl:w-7;
}

.filter-icon-size {
    @apply h-4 w-4 2xl:h-7 2xl:w-7;
}

.sphere-toolbar-icon-size {
    @apply h-4 w-4 2xl:h-6 2xl:w-6;
}

.content-toolbar-icon-size {
    @apply h-4 w-4 2xl:h-5 2xl:w-5;
}

/* Styles for the spoiler blocks */
.spoiler-checkbox {
}

.spoiler-text {
}

.spoiler-checkbox:checked + .spoiler-text {
    background-color: black;
}

/* class to remove spinner from number inputs */
/* Chromium */
input[type="number"].no-spinner::-webkit-outer-spin-button,
input[type="number"].no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"].no-spinner {
    -moz-appearance: textfield;
}

/* For Firefox */
/* Scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #0a212e;
}

/* Scrollbar for webkit-based browsers (Safari) */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0a212e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
}

/* remove textarea scrollbar as we autoscale them */
textarea {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

textarea::-webkit-scrollbar {
    display: none;
}