@tailwind base;
@tailwind components;
@tailwind utilities;

/* Don't make button's text uppercase */
.btn {
    text-transform: none;
    @apply rounded-sm;
}

.btn-circle {
    @apply rounded-full;
}

.input {
    @apply rounded-sm;
}

.select {
    @apply rounded-sm;
}

.checkbox {
    @apply rounded-sm;
}

/* For Firefox */
/* Scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #0a212e;
}

/* Scrollbar for webkit-based browsers (Safari) */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0a212e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
}

/* Styles for the spoiler blocks */
.spoiler-checkbox {
}

.spoiler-text {
}

.spoiler-checkbox:checked + .spoiler-text {
    background-color: black;
}