@tailwind base;
@tailwind components;
@tailwind utilities;

/* Don't make button's text uppercase, change default rounding */
.btn {
    text-transform: none;
    @apply rounded-sm;
}

.btn-circle {
    @apply rounded-full;
}

.input {
    @apply rounded-sm;
}

.select {
    @apply rounded-sm;
}

.checkbox {
    @apply rounded-sm;
}

/* class to remove spinner from number inputs */
/* Chromium */
input[type="number"].no-spinner::-webkit-outer-spin-button,
input[type="number"].no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"].no-spinner {
    -moz-appearance: textfield;
}

/* For Firefox */
/* Scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #0a212e;
}

/* Scrollbar for webkit-based browsers (Safari) */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0a212e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
}

/* Styles for the spoiler blocks */
.spoiler-checkbox {
}

.spoiler-text {
}

.spoiler-checkbox:checked + .spoiler-text {
    background-color: black;
}