@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles for the spoiler blocks */
.spoiler-checkbox {
}

.spoiler-text {
}

.spoiler-checkbox:checked + .spoiler-text {
    background-color: black;
    color: white;
}