@tailwind base;
@tailwind components;
@tailwind utilities;

/* Don't make button's text uppercase */
.btn{
    text-transform: none;
}

/* Styles for the spoiler blocks */
.spoiler-checkbox {
}

.spoiler-text {
}

.spoiler-checkbox:checked + .spoiler-text {
    background-color: black;
    color: white;
}