@tailwind base;
@tailwind components;
@tailwind utilities;

/* Don't make button's text uppercase */
.btn{
    text-transform: none;
}

/* For Firefox */
/* Scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #0a212e;
}

/* Scrollbar for webkit-based browsers (Safari) */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0a212e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
}

/* Styles for the spoiler blocks */
.spoiler-checkbox {
}

.spoiler-text {
}

.spoiler-checkbox:checked + .spoiler-text {
    background-color: black;
}